*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: #0a0a0a;
}

.card{
    width: 35%;
    min-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 1px #808080;
    padding: 10px;
    background-color: #6c63ff;
}

.profile-pic{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    text-align: center;
}

.profile-pic img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin-top: 10px;
}

.name{
    font-size: 25px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.username{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.social-icons{
display: flex;
gap: 20px;
width: 50%;
align-items: center;
justify-content: center;
margin: 20px 0;
}

.social-icons .icon{
    width: 50px;
    height: 50px;
    padding: 2px;
    cursor: pointer;
    font-size: 40px;
    color: #ffffff;
}   

.social-icons .icon i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bio{
    text-align: center;
    margin: 10px 0 40px ;
    padding: 5px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.buttons{   
    width: 80%;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.buttons button{
    width: 100px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
}

.message{
    background-color: #6c63ff;
    border: 1px solid #f5f5f5 ;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.message:hover{
    background-color: #8a84ff;
    
}